/* Main navbar */
.navbar-wagon {
  box-shadow: 0 1px 5px 0 rgba(0,0,0,0.07),0 1px 0 0 rgba(0,0,0,0.03);
  background: white;
  transition: all 0.3s ease;
  height: 120px;
  padding: 10px 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  .new-cocktail {
    background-color: #699338;
    color: white;
    padding: 10px;
    border-radius: 18px;
    font-size: 15px;
  }
}

.right-navbar {
  display: flex;
}
.logo {
  display: flex;
}
#search-btn {
    border-radius: 18px;
    font-size: 15px;
}
#custom-search-input {
        margin:0;
        padding: 5px;
        width: 150px;
        height: 30px;
    }

    #custom-search-input .search-query {
        padding-right: 3px;
        padding-right: 4px \9;
        padding-left: 3px;
        padding-left: 4px \9;
        /* IE7-8 doesn't have border-radius, so don't indent the padding */

        margin-bottom: 0;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        border-radius: 8px;
    }

    #custom-search-input button {
        border: 0;
        background: none;
        padding: 2px 5px;
        margin-top: 2px;
        margin-bottom: 0;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        border-radius: 3px;
        color:#D9230F;
    }

    .search-query:focus + button {
        z-index: 3;
    }
